    .searchmovie{
        position: relative;
        width: 100%;
        border-radius: var(--border-radius);
        /* border: 1px solid #424754; */
        padding-left: 10px;
    }
    .search_input{
        border: none;
        outline: none;
        height: 30px;
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.42857143;
        color: #646b7f;
        background: 0 0;
    }