.note {
    background-color: #2F3441;
    color: var(--text-color);
    border-radius: var(--border-radius);
    display: flex;
    margin-bottom: 18px;
    padding: 15px;
}

.wifi-icon {
    width: 8.5rem !important;
    height: 8.5rem !important;
}

.note h1 {
    font-size: 1.8rem;
    padding-top: 15px;
    color: var(--text-color);
    font-weight: 600;
}

.note p {
    font-size: 1.5rem;
}

.note a {
    color: var(--title-color);
    text-decoration: none;
}

.note a:hover {
    color: white;
}
@media (max-width: 740px){
    .wifi-icon {
        display: none !important;
    }
}